<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="static/header.css">
    <title>UploadBHS</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <style>
      /* Paste the CSS here */
    </style>

    <nav>
    <a href="#" class="logo">Logo</a>
    <a href="#" class="active">Home</a>
    <a href="#">About</a>
    <a href="#">Contact</a>
    <a href="#">Profile</a>
  </nav>
  </head>
  <body>
    <!-- Create the navigation bar -->
    

  </body>
</html>
